
/*********************************************************************
 *                           Import fonts                            *
 *********************************************************************/

// @pbp-font-title: serif;
@pbp-font-title: Roboto, sans-serif;
@pbp-font-body: Roboto, sans-serif;
@pbp-font-mono: monospace;

@pbp-base-font-size: 19.0px;
