{% macro write(article) -%}

<ul class="gallery">
    {% for image in article.galleryimages %}
    <li>
        <a class="{{ article.album }}" href="{{ SITEURL }}/static/images/gallery/900x/gallery/{{ article.album }}/{{ image }}">
            <img src="{{ SITEURL }}/static/images/gallery/150x/gallery/{{ article.album }}/{{ image }}">
        </a>
    </li>
    {% endfor %}
</ul>

<script type="text/javascript" charset="utf-8">
    $(function () {
        $('ul.gallery li a').lightbox();
    });
</script>

{%- endmacro %}
