{% macro write(article) -%}

<div class="gallery">
    {% for image in article.galleryimages %}
    <div class="gallery-image">
        <a class="{{ article.album }}" href="{{ SITEURL }}/static/images/gallery/1200x/gallery/{{ article.album }}/{{ image }}">
            <img src="{{ SITEURL }}/static/images/gallery/150x/gallery/{{ article.album }}/{{ image }}">
        </a>
    </div>
    {% endfor %}
</div>

<script type="text/javascript" charset="utf-8">
    $(function () {
        $('.gallery .gallery-image a').lightbox();
    });
</script>

{%- endmacro %}
