{% macro write(article, link=True) %}

<div class="clayto-photo" id="clayto-photo-{{ article.photonum }}">

{# new palette photos #}
{% if article.palette0 %}
<style type="text/css">
    #clayto-photo-{{ article.photonum }} {
        background-color: {{ article.palette0 }};
        color: {{ article.palette1 }};
        margin-bottom: 16px;
    }
    #clayto-photo-{{ article.photonum }} img {
        border: 8px solid black;
        outline: 2px solid {{ article.palette2 }};
        border-radius: 3px;
        -webkit-box-shadow: 
            0px -5px 20px rgba( 25, 35, 0, 0.7),
            0px 5px 40px rgba( 25, 35, 0, 0.7);
        -moz-box-shadow:
            0px -5px 20px rgba( 25, 35, 0, 0.7),
            0px 5px 40px rgba( 25, 35, 0, 0.7);
        -o-box-shadow:
            0px -5px 20px rgba( 25, 35, 0, 0.7),
            0px 5px 40px rgba( 25, 35, 0, 0.7);
        box-shadow: 
            0px -5px 20px rgba( 25, 35, 0, 0.7),
            0px 5px 40px rgba( 25, 35, 0, 0.7);
    }
    #clayto-photo-{{ article.photonum }} {
    }
    #clayto-photo-{{ article.photonum }} {
    }
    #clayto-photo-{{ article.photonum }} {
    }
    #clayto-photo-{{ article.photonum }} {
    }
    {% if not link %}
    body {
        background-color: {{ article.palette0 }};
    }
    {% endif %}
</style>
{% endif %}

{# old palette photos #}
{% if article.palette %}
<style type="text/css" scoped>
    #clayto-photo-{{ article.photonum }} {
        background-color: {{ article.palette }};
    }
</style>
{% endif %}

{% if link %}
    <a href="{{SITEURL}}/{{article.url}}">
{% endif %}
        <img 
            data-spy = "scroll"
            class    = "img-responsive"
            src      = "/static/images/photos/{{ article.photonum }}/big.jpg"
        />
{% if link %}
    </a>
{% endif %}

{% if article.prev_article or article.next_article %}
    <ul>
    {% if article.prev_article %}
        <li>
            <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
                {{ article.prev_article.title }}
            </a>
        </li>
    {% endif %}
    {% if article.next_article %}
        <li>
            <a href="{{ SITEURL }}/{{ article.next_article.url}}">
                {{ article.next_article.title }}
            </a>
        </li>
    {% endif %}
    </ul>
{% endif %}

</div>

{% endmacro %}
