{% extends "base.html" %}
{% block title %}
    {{ article.title | striptags }}
{% endblock %}
{% block content %}
    <article>
        <header class="page-header">
            <h2>
                {{ article.title }}
            </h2>
        </header>
        <div class="entry-content">
            <nav class="toc">{{ article.toc }}</nav>
            {{ article.content }}
        </div>

        <!-- /.entry-content -->
    {# prev/next links
        {% include "includes/neighbors.html" %}
    #}
        {# {% include "includes/article_info.html" %} #}
        {% include "includes/addthis.html" %}
        {% include "includes/related_posts.html" %}
        {% include "includes/comments.html" %}
    </article>

{% endblock %}
