<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if USE_OPEN_GRAPH is not defined %}
        {% set USE_OPEN_GRAPH = True %}
    {% endif %}

    {% if USE_OPEN_GRAPH %}
        <!-- Open Graph tags -->
        {% if OPEN_GRAPH_FB_APP_ID %}
            <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
        {% endif %}
        {% if article %}
            <meta property="og:type" content="article"/>
            <meta property="og:title" content="{{ article.title|striptags }}"/>
            <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
            <meta property="og:description" content="{{ article.summary|striptags }}"/>
        {% elif page %}
            <meta property="og:type" content="article"/>
            <meta property="og:title" content="{{ page.title }}"/>
            <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
        {% else %}
            <meta property="og:type" content="website"/>
            <meta property="og:title" content="{{ SITENAME }}"/>
            <meta property="og:url" content="{{ SITEURL }}"/>
            <meta property="og:description" content="{{ SITENAME }}"/>
            {% if OPEN_GRAPH_IMAGE %}
            <meta property="og:image"
                  content="{{ SITEURL }}/static/{{ OPEN_GRAPH_IMAGE }}"/>
        {% endif %}
        {% endif %}

    {% endif %}

    <!--[if gte IE 9]
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->

    {% if DEBUG %}
        {# Pull in CSS files individually in debug mode #}
        {% assets "bootstrap", "pbp" %}
            <link href="{{ SITEURL }}/{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}
    {% else %}
        {# Concatenate and minify all CSS files in production mode #}
        {% assets output="css/styles.min.css", "bootstrap", "pbp" %}
            <link href="{{ SITEURL }}/{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}
    {% endif %}

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    {% if FEED_ALL_ATOM %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} ATOM Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/atom+xml" rel="alternate"
              title="{{ SITENAME }} RSS Feed"/>
    {% endif %}

    {% include 'includes/ga.html' %}

    {% block extra_head %}{% endblock %}
</head>
<body>
{% block header %}
<div class="container">
    <nav class="pbp-navbar" role="navigation">
        <!-- <img class="pbp-logo" src="/theme/images/logo.svg" alt="the Pale Blue Pixel Logo"/> -->
        <svg 
            class               = "pbp-logo"
            width               = "64"
            height              = "64"
            xmlns               = "http://www.w3.org/2000/svg"
            xmlns:xlink         = "http://www.w3.org/1999/xlink"
            viewBox             = "0 0 10 10"
            preserveAspectRatio = "slice">
            <svg
                xmlns:dc  = "http://purl.org/dc/elements/1.1/"
                xmlns:cc  = "http://creativecommons.org/ns#"
                xmlns:rdf = "http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                xmlns:svg = "http://www.w3.org/2000/svg"
                xmlns     = "http://www.w3.org/2000/svg"
                version   = "1.1"
                width     = "10"
                height    = "10"
                id        = "svg2">
                <defs id="defs4" />
                    <metadata id="metadata7">
                    <rdf:RDF>
                    <cc:Work rdf:about="">
                    <dc:format>image/svg+xml</dc:format>
                    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    <dc:title></dc:title>
                    </cc:Work>
                    </rdf:RDF>
                    </metadata>
                    <g
                        transform="translate(-385,-467.375)"
                        id="layer1">
                        <path
                        d="m 385,467.375 0,10 10,0 0,-10 -10,0 z m 1,1 8,0 0,8 -8,0 0,-8 z"
                        id="rect2995"
                        style="fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
                        <path
                        d="m 391,472.36218 a 1,1 0 1 1 -2,0 1,1 0 1 1 2,0 z"
                        id="path3002"
                        style="fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
                    </g>
                </svg>
                <filter id="pictureFilter" >
                    <feGaussianBlur stdDeviation="2" />
                </filter> 
        </svg>
    </nav>
</div>
{% endblock header %}
<!-- /.navbar -->
<main role="main" class="container">
    {% block content %}
    {% endblock %}
</main>

{% block footer %}
{% endblock %}

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>

<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
<script src="{{ SITEURL }}/theme/js/respond.min.js"></script>
{% include 'includes/disqus_script.html' %}
</body>
</html>
